-
	var cssLibraries = {
		normalize: 'https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css',
		main: 'css/main.css',
		slickTheme: 'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css',
		slick: 'https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css',
		foonts: "https://fonts.googleapis.com/css?family=Play",
		boot: 'css/bootstrap.css'

	}
html
	head
		//Loop for creating links to CSS libraries
		each value,index in cssLibraries
			link(href=value rel='stylesheet')
			//
				#{index}
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")

		title test Task
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
		script(src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js")

	body


		//Block for adding scripts in the <body> element
		block scripts
